.version.impressum /* version checker */
{
	color: #00001E;
	background-color: #98EC63;
}

.html
{
	background-color: #CDCED2;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1199.5342146189735px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -35px;
	padding-bottom: 62px;
}

#u81
{
	z-index: 2;
	width: 1280px;
}

#menuu133
{
	z-index: 4;
	width: 1280px;
}

#u141
{
	width: 254px;
	min-height: 34px;
	margin-right: -10000px;
}

#u144
{
	width: 254px;
	padding-bottom: 17px;
}

#u144:hover
{
	margin: 0px;
}

#u144:active
{
	margin: 0px;
}

#u145-4
{
	width: 254px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u144:hover #u145-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u144:active #u145-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u134
{
	width: 254px;
	min-height: 34px;
	margin-right: -10000px;
	left: 256px;
}

#u135
{
	width: 254px;
	padding-bottom: 17px;
}

#u144.MuseMenuActive,#u135:hover
{
	margin: 0px;
}

#u135:active
{
	margin: 0px;
}

#u136-4
{
	width: 254px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u144.MuseMenuActive #u145-4,#u135:hover #u136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u135:active #u136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u148
{
	width: 254px;
	min-height: 34px;
	margin-right: -10000px;
	left: 512px;
}

#u151
{
	width: 254px;
	padding-bottom: 17px;
}

#u135.MuseMenuActive,#u151:hover
{
	margin: 0px;
}

#u151:active
{
	margin: 0px;
}

#u153-4
{
	width: 254px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u135.MuseMenuActive #u136-4,#u151:hover #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u151:active #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u162
{
	width: 255px;
	min-height: 34px;
	margin-right: -10000px;
	left: 768px;
}

#u163
{
	width: 255px;
	padding-bottom: 17px;
}

#u151.MuseMenuActive,#u163:hover
{
	margin: 0px;
}

#u163:active
{
	margin: 0px;
}

#u164-4
{
	width: 255px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u151.MuseMenuActive #u153-4,#u163:hover #u164-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u163:active #u164-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u155
{
	width: 255px;
	min-height: 34px;
	margin-right: -10000px;
	left: 1025px;
}

#u158
{
	width: 255px;
	padding-bottom: 17px;
}

#u163.MuseMenuActive,#u158:hover
{
	margin: 0px;
}

#u158:active
{
	margin: 0px;
}

#u158.MuseMenuActive
{
	margin: 0px;
}

#u160-4
{
	width: 255px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u163.MuseMenuActive #u164-4,#u158:hover #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u158:active #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u158.MuseMenuActive #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u433-65
{
	z-index: 35;
	width: 500px;
	min-height: 500px;
	background-color: transparent;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 390px;
	margin-top: 78px;
	position: relative;
}

#u433
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u433-62
{
	font-size: 12px;
	line-height: 14px;
	font-style: italic;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

