.version.index /* version checker */
{
	color: #000017;
	background-color: #D7D400;
}

.html
{
	background-color: #CDCED2;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1199.5342146189737px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -35px;
	padding-bottom: 217px;
}

#u81
{
	z-index: 2;
	width: 1280px;
}

#menuu133
{
	z-index: 4;
	width: 1280px;
}

#u141
{
	width: 254px;
	min-height: 34px;
	margin-right: -10000px;
}

#u144
{
	width: 254px;
	padding-bottom: 17px;
}

#u144:hover
{
	margin: 0px;
}

#u144:active
{
	margin: 0px;
}

#u145-4
{
	width: 254px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u144:hover #u145-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u144:active #u145-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u134
{
	width: 254px;
	min-height: 34px;
	margin-right: -10000px;
	left: 256px;
}

#u135
{
	width: 254px;
	padding-bottom: 17px;
}

#u144.MuseMenuActive,#u135:hover
{
	margin: 0px;
}

#u135:active
{
	margin: 0px;
}

#u136-4
{
	width: 254px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u144.MuseMenuActive #u145-4,#u135:hover #u136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u135:active #u136-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u148
{
	width: 254px;
	min-height: 34px;
	margin-right: -10000px;
	left: 512px;
}

#u151
{
	width: 254px;
	padding-bottom: 17px;
}

#u135.MuseMenuActive,#u151:hover
{
	margin: 0px;
}

#u151:active
{
	margin: 0px;
}

#u153-4
{
	width: 254px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u135.MuseMenuActive #u136-4,#u151:hover #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u151:active #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u162
{
	width: 255px;
	min-height: 34px;
	margin-right: -10000px;
	left: 768px;
}

#u163
{
	width: 255px;
	padding-bottom: 17px;
}

#u151.MuseMenuActive,#u163:hover
{
	margin: 0px;
}

#u163:active
{
	margin: 0px;
}

#u164-4
{
	width: 255px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u151.MuseMenuActive #u153-4,#u163:hover #u164-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u163:active #u164-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u155
{
	width: 255px;
	min-height: 34px;
	margin-right: -10000px;
	left: 1025px;
}

#u158
{
	width: 255px;
	padding-bottom: 17px;
}

#u163.MuseMenuActive,#u158:hover
{
	margin: 0px;
}

#u158:active
{
	margin: 0px;
}

#u158.MuseMenuActive
{
	margin: 0px;
}

#u160-4
{
	width: 255px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u163.MuseMenuActive #u164-4,#u158:hover #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u158:active #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u158.MuseMenuActive #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pu282-17
{
	width: 0.01px;
	margin-left: 189px;
	margin-top: 32px;
}

#u282-17
{
	z-index: 35;
	width: 903px;
	min-height: 251px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u282-2
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-weight: bold;
}

#u282-3
{
	text-align: left;
}

#u282-5,#u282-7,#u282-9,#u282-11,#u282-13,#u282-14
{
	text-align: center;
}

#slideshowu283
{
	z-index: 52;
	width: 0.01px;
	height: 566px;
	position: relative;
	margin-right: -10000px;
	margin-top: 158px;
	left: 135px;
}

#u293
{
	position: absolute;
	width: 634px;
	height: 566px;
	background-color: transparent;
}

#u293popup
{
	z-index: 53;
}

#u296
{
	z-index: 54;
	width: 634px;
	height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u296_img
{
	margin: 71px -61px 71px -60px;
}

#u361
{
	z-index: 56;
	width: 634px;
	height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u370
{
	z-index: 58;
	width: 634px;
	height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u370_img
{
	padding: 87px 49px;
}

#u379
{
	z-index: 60;
	width: 634px;
	height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u388
{
	z-index: 62;
	width: 634px;
	height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u397
{
	z-index: 64;
	width: 634px;
	height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u397_img
{
	margin: 18px -14px;
}

#u406
{
	z-index: 66;
	width: 634px;
	height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u485
{
	z-index: 68;
	width: 634px;
	height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u494
{
	z-index: 70;
	width: 634px;
	height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u361_img,#u494_img
{
	padding: 85px 53px;
}

#u503
{
	z-index: 72;
	width: 634px;
	height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u503_img
{
	padding: 82px 42px;
}

#u512
{
	z-index: 74;
	width: 634px;
	height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u379_img,#u512_img
{
	padding: 198px 170px 197px;
}

#u521
{
	z-index: 76;
	width: 634px;
	height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u388_img,#u521_img
{
	padding: 173px 203px 172px;
}

#u530
{
	z-index: 78;
	width: 634px;
	height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u296_clip,#u397_clip,#u530_clip
{
	overflow: hidden;
	width: 634px;
	height: 566px;
}

#u530_img
{
	margin-left: -37px;
	margin-right: -36px;
}

#u539
{
	z-index: 80;
	width: 634px;
	height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u406_img,#u539_img
{
	padding: 199px 167px;
}

#u548
{
	z-index: 82;
	width: 634px;
	height: 566px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u548_img
{
	padding: 17px 52px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 1280px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

